.review-edit-game-title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
.save-button {
  padding:10px 30px;
  width: 150px;
}
.save-button.is-reviewed{
  background-color: #52545a;
}

.edit-button-container {
  display: flex;
  justify-content: space-between;
}

.publish-container {
  position: relative;
}

.publish-popup{
  visibility: hidden;
  background-color: #52545a;
  position:absolute;
  z-index: 1;
  right: 0;
  top: 1;
  width: 300px;
  padding: .5rem;
  opacity:0;
  border: 1px solid #c5c3c0;
  display: flex;
  justify-content: center;
}
.publish-popup.popup {
  visibility: visible;
  opacity:1;
}

.editor{
  margin-top: 1rem;
}

.delete {
  background-color: #5D151E;
}

