/* *{border: 1px solid goldenrod} */

.library-thumbnail {
  max-height: 5rem;
}

.library-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.library-link:hover {
  background-color: #95bbd4;
  color: black;
}

.library-tr {
  display: flex;
  padding: 4px;
}

.library-td {
  display: flex;
  align-items: center;
  width: 100%;
}

.review-title {
  flex: 1;
  font-size: 1.6rem;
  font-weight: bold;
}

.library-container {
  width: 100%;
}

.reviewed {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  align-self: stretch;
  width: 15ch;
  text-decoration: none;
  color: #c5c3c0;
  /* background-color: rgba(0, 0, 0, 0.192); */
  background-color: #4d6b0dcb;
  font-size: .9rem;
  font-weight: bold;
}
.reviewed:hover{
  color: white;
}

.not {
  background-color: #202020cb;;
}