.library-thumbnail {
  max-height: 7rem;
}

.library-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.library-tr {
  display: flex;
  padding: 4px;
}

.library-tr:hover {
  filter: brightness(110%);
}

.library-td {
  display: flex;
  align-items: center;
  width: 100%;
}

.review-title {
  font-size: 2rem;
  font-weight: bold;
}