* { border: 1px solid greenyellow }
button:disabled {
  background-color: gray;
  cursor: default;
}

button:disabled:hover {
  color: #c5c3c0
}

.details-btn-container {
  display: flex;
  justify-content: space-between;
}

.game-details-btn {
  padding:10px 30px;
  width: 200px;
}

.details-header-container {
  display: flex;
  gap: 1rem;
  background-color: #00000099;
  padding: 1rem;
}
.details-right-container {
  display: flex;
  flex-direction: column;
}
.description {
  flex: 1;
  display: flex;
  align-items: center;
}