/* Shares class names with Register.css */

.signin-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

.signin-button-container {
  display: flex;
  justify-content: center;
}