/* Shares class names with Register.css */
/* .signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.signin-form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.signin-button-container {
  display: flex;
  justify-content: center;
}