/* Shares class names with Register.css */
/* .sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.sign-in-form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.sign-in-button-container {
  display: flex;
  justify-content: center;
}