.search-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3px;
  height: 2.5rem;
}

.search-button {
  height: 100%;
  background-color: #3d4d63;
  color: #c5c3c0;
  border: none;
  border-radius: 2px;
}

.search-button:hover {
  background-color: #95bbd4;
  color: black;
  cursor: pointer;
}

input#search {
  height: 100%;
  border: none;
  background-color: #2e3a4b;
  color: white
}

input#search:focus{
  outline: 1px solid #c5c3c0;
}