.follow-link {
  color: #c5c3c0;
  text-decoration: none;
  display: flex;
}

.follow-link:hover {
  background-color: #95bbd4;
  color: black;
}

.follow-table {
  width: 100%;
}

.unfollowed {
  background-color: #ffffff41;
}
