.header-container {
  background-color: #171a21;
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: center;
}

.main-header {
  display: flex;
  justify-content: space-evenly;
  width: 940px;
}

.header-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #c5c3c0;
  width: 8rem;
  height: 100%;
}

.nav-button:hover {
  background-color: #ffffff1a;
  color: white;
}

.active {
  font-weight: bold;
  background-color: #ffffff1a;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 5rem;
  text-decoration: none;
  color: white;
  transform: rotate(45deg);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
}

.initials {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #ffffff41;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.logout-button {
  font-size: .7rem;
  height: 1.5rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header-search {
  margin-left: 20px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
