.review-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-data {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.review-button {
  padding:10px 30px;
}
