<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/javascript.js" defer></script>
</head>
<body>
  {% if session.get('username') %}
    <p>Logged in as {{ session['username'] }}</p>
    <form action="/logout"><button>Log out</button></form>
  {% endif %}
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">{{ msg }}</p>
  {% endfor %}

  {% block body %}{% endblock %}
</body>
</html>