{% extends 'base.html' %}
{% block title %}
  Browse Games
{% endblock %}
{% block body %}
  <h1>Search</h1>
  <form action="/games/search">
    <label for="game_name">Game:</label>
    <input type="text" id="game_name" name="game_name">
    <input type="submit" value="Submit">
  </form>

  <h1>Random Games</h1>
  <div>
    {% for game in games %}
    <div>
      <h2>{{ game['name'] }}</h2>
      <a href="/games/details/{{ game.id }}/{{ game.name }}">
        <img src="{{ game['header_image'] }}" alt="{{ game['name'] }}">
      </a>
      <p>{{ game['short_description'] }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}