* { box-sizing: border-box; }

html { height: 100vh; }

body {
  margin: 0; 
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  width: 940px;
  flex: 1;
}

#root{
  flex: 1;
  background: rgb(27,40,56);
  background: linear-gradient(140deg, rgba(27,40,56,0.985) 0%, rgba(27,40,56,1) 50%, rgba(27,40,56,0.985) 100%); 
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flash {
  position: fixed;
  top: 2px;
  left: 2px;
  padding: 5px;
  border-radius: 3px;
  background-color: rgba(14, 14, 14, 0.798);
}

h1 {
  margin: 2rem 0;
}

.form-input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input[type='text'], input[type='password'] {
  height: 2.5rem;
}
